<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>assignment</display-name>
  
  <welcome-file-list>
    <welcome-file>registerpage.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.example.HomeServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
</servlet-mapping>
  
  <servlet>
    <servlet-name>AboutServlet</servlet-name>
    <servlet-class>com.example.AboutServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AboutServlet</servlet-name>
    <url-pattern>/about</url-pattern>
</servlet-mapping>
  
    
<servlet>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.example.ContactServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
</servlet-mapping>



</web-app>